body {
  background-color: #1561ad;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  background-color: #093766;
  width: 100vw;
  height: 50vw;
  min-height: 500px;
  max-height: 700px;
  max-width: 1000px;
}
rect {
  z-index: 100;
}
line {
  z-index: 1;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #1c77ac;
  border: none;
  margin: 5px;
}

.gravity-sign {
  color: white;
  padding-right: 20px;
}

.show-sign {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  color: white;
}
.download-button {
  width: 100px;
  height: 50px;
  background-color: #135e8a;
  border: none;
  color: white;
}
