body {
  background-color: #1561ad;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  background-color: #093766;
  width: 100vw;
  height: 500px;
  max-width: 500px;
}
.icon {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #1c77ac;
  border: none;
  margin: 5px;
}
input {
  cursor: pointer;
  background-color: red;
  color: red;
}
